:root {
  --COLOR-GRAY: #333233;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-DONE: #ee6c4d;
  --COLOR-ONGOING: #79ccea;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
